@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh;
}


.ql-editor{
    font-size: 1.05rem;
}


.post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content pre {
    color: rgb(73, 149, 199);
    text-decoration: none;
    background-color: black;
  }
  .post-content a{
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    font-family: sans-serif;

  }
  .post-content code{
    background-color: black;
  }
  
  .post-content a:hover {
        background-color: gold;
  }
  
  .dark .post-content a {
    background-color: red;
  }

 